.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 393px;
}

.u-section-1 .u-text-1 {
  width: 800px;
  margin: 60px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 300px;
  min-width: 140px;
  white-space: nowrap;
  margin: 30px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-text-2 {
  width: 669px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  margin: 53px 37px 37px auto;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}