.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1245px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 338px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  width: 640px;
  margin: 12px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 30px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 973px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  width: 315px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  margin: 37px 0 0;
}

.u-section-1 .u-custom-html-1 {
  width: 540px;
  min-height: 390px;
  margin: 30px -2px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 428px;
  background-image: url("images/close-up-person-cleaning-car-interior_23-2148194073.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 428px;
  background-image: url("images/mechanic-holding-tire-tire-repair-garage-replacement-winter-summer-tires_146671-13597.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 428px;
  background-image: url("images/front-car-lights-night-road_1303-17091.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 802px;
  }

  .u-section-1 .u-text-3 {
    width: 225px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 440px;
    height: auto;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 353px;
  }

  .u-section-1 .u-image-2 {
    min-height: 353px;
  }

  .u-section-1 .u-image-3 {
    min-height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1681px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 541px;
  }

  .u-section-1 .u-image-2 {
    min-height: 541px;
  }

  .u-section-1 .u-image-3 {
    min-height: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2416px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 812px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 812px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 812px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1905px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-custom-html-1 {
    width: 330px;
  }

  .u-section-1 .u-image-1 {
    min-height: 511px;
  }

  .u-section-1 .u-image-2 {
    min-height: 511px;
  }

  .u-section-1 .u-image-3 {
    min-height: 511px;
  }
}